<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <h2>Invalid Login</h2>
        <p>Oops something went wrong with your login. Please try again or register of you're new.</p>
        <form method="get" action="/login">
            <button type="submit" class="btn btn-light">Login</button>
        </form>
        <form method="get" action="/register">
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </form>
    </div>
</body>
</html>