<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register for your new Calender!</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS layout -->
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h3>Easy registration</h3>
    <form class="row g-3" method="post" th:action="@{/register}" th:object="${registrationRequest}">
        <div class="col-md-4">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required autofocus>
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="col-md-8">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required aria-describedby="passwordHelpBlock">
            <!--
            <div id="passwordHelpBlock" class="form-text">
                Your password must at least 8 characters long, contain letters and numbers, and must not contain spaces and special characters.
            </div> -->
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Register</button>
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
    </form>
</body>
</html>